/* line 1, assets\less\variable.less */
body {
  border: 1px #F00 solid;
}
/* line 1, assets\less\mixin.less */
body {
  border: 1px #F00 solid;
}
/* line 2, assets\less\mixin.less */
h1 {
  border: 1px #F00 solid;
}
@font-face {
  font-family: "Daum";
  src: url("../font/Daum_Regular.eot") format("truetype");
}
/* line 6, assets\less\common.less */
* {
  margin: 0;
  padding: 0;
  outline: 1px solid #f00;
}
/* line 9, assets\less\common.less */
ul,
ol,
li {
  list-style: none;
  display: inline-block;
}
/* line 10, assets\less\common.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 12, assets\less\common.less */
html,
body {
  height: 100%;
  font-family: 'daum';
  font-size: 16px;
}
/* line 20, assets\less\common.less */
body .wrap {
  margin: 0 auto;
  height: 100%;
}
/* line 33, assets\less\common.less */
.main {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/visual_01.png");
}
/* line 35, assets\less\common.less */
.main .main_wrap .gnb {
  text-align: center;
  height: 194px;
  box-shadow: 0px 3px 1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 42, assets\less\common.less */
.main .main_wrap .gnb .header {
  padding-top: 20px;
  width: 1240spx;
  height: 83px;
}
/* line 46, assets\less\common.less */
.main .main_wrap .gnb .header img {
  width: 109px;
  height: 53px;
}
/* line 48, assets\less\common.less */
.main .main_wrap .gnb .nav {
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 1240px;
  height: 42px;
}
/* line 54, assets\less\common.less */
.main .main_wrap .gnb .nav ul {
  text-align: center;
}
/* line 55, assets\less\common.less */
.main .main_wrap .gnb .nav ul li {
  line-height: 42px;
  color: #fff;
  width: 170px;
}
/* line 56, assets\less\common.less */
.main .main_wrap .gnb .nav ul li a {
  color: #fff;
}
/* line 57, assets\less\common.less */
.main .main_wrap .gnb .nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
/* line 65, assets\less\common.less */
.main .main_btn_prev {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: block;
}
/* line 78, assets\less\common.less */
.main .main_btn_prev svg {
  display: inline-block;
  vertical-align: middle;
}
/* line 81, assets\less\common.less */
.main .main_btn_prev:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 88, assets\less\common.less */
.main .main_btn_next {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  right: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
}
/* line 100, assets\less\common.less */
.main .main_btn_next svg {
  display: inline-block;
  vertical-align: middle;
}
/* line 104, assets\less\common.less */
.main .main_btn_next:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 114, assets\less\common.less */
.main .slogan {
  width: 700px;
  height: 400px;
  position: absolute;
  margin-left: 340px;
  top: 40%;
}
/* line 116, assets\less\common.less */
.main .slogan h1 {
  font-size: 56px;
  color: #fff;
  line-height: 70px;
}
/* line 117, assets\less\common.less */
.main .slogan h1 span {
  color: #f99d1b;
}
/* line 120, assets\less\common.less */
.main .slogan h2 {
  font-size: 18px;
  color: #6a4f29;
  margin-top: 30px;
  line-height: 28px;
}
/* line 121, assets\less\common.less */
.main .slogan div {
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  width: 186px;
  height: 54px;
  background-color: #f99d1b;
}
/* line 122, assets\less\common.less */
.main .slogan div a {
  line-height: 54px;
  font-size: 18px;
  color: #fff;
}
/* line 132, assets\less\common.less */
.product {
  height: 130%;
  background-color: #ededed;
}
/* line 133, assets\less\common.less */
.product .product_wrap {
  margin: 0 auto;
  width: 1240px;
  padding-top: 100px;
}
/* line 135, assets\less\common.less */
.product .product_wrap .title h1 {
  font-size: 56px;
  color: #000;
  text-align: center;
}
/* line 136, assets\less\common.less */
.product .product_wrap .title h2 {
  font-size: 18px;
  color: #6a4f29;
  margin-top: 20px;
  text-align: center;
}
/* line 138, assets\less\common.less */
.product .product_wrap .product_menu {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 0;
}
/* line 139, assets\less\common.less */
.product .product_wrap .product_menu li {
  background-color: #fff;
  color: #666;
  font-size: 16px;
  line-height: 40px;
  width: 137px;
  height: 40px;
  outline: 1px solid #d4d4d4;
  text-align: center;
}
/* line 141, assets\less\common.less */
.product .product_wrap .product_menu li:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 144, assets\less\common.less */
.product .product_wrap .product_photo {
  text-align: center;
  font-size: 0;
}
/* line 145, assets\less\common.less */
.product .product_wrap .product_photo ul {
  width: 102%;
}
/* line 146, assets\less\common.less */
.product .product_wrap .product_photo ul li {
  width: 295px;
  height: 295px;
  margin-right: 20px;
  margin-top: 20px;
  background-image: url("../images/main/product_photo_01.png");
}
/* line 147, assets\less\common.less */
.product .product_wrap .product_photo ul li li:hover {
  background-color: #f99d1b;
}
/* line 157, assets\less\common.less */
.news {
  height: 100%;
  background-color: #f8f6f2;
}
/* line 158, assets\less\common.less */
.news .news_wrap {
  margin: 0 auto;
  width: 1240px;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}
/* line 160, assets\less\common.less */
.news .news_wrap .title h1 {
  font-size: 56px;
  color: #000;
}
/* line 161, assets\less\common.less */
.news .news_wrap .title h2 {
  font-size: 18px;
  color: #6a4f29;
  margin-top: 20px;
}
/* line 163, assets\less\common.less */
.news .news_wrap section {
  margin-top: 100px;
  display: block;
  width: 102%;
  text-align: left;
  font-size: 0;
}
/* line 164, assets\less\common.less */
.news .news_wrap section .ad {
  width: 610px;
  height: 320px;
  background-color: yellow;
  margin-right: 20px;
  display: inline-block;
}
/* line 167, assets\less\common.less */
.news .news_wrap section .ad ul {
  height: 100%;
  width: 81px;
}
/* line 170, assets\less\common.less */
.news .news_wrap section .ad ul li {
  background-color: #a7a7a7;
  height: 25%;
  width: 100%;
}
/* line 171, assets\less\common.less */
.news .news_wrap section .ad ul li h2 {
  font-size: 14px;
  color: #fff;
  line-height: 100%;
  text-align: center;
  margin-top: 43%;
}
/* line 175, assets\less\common.less */
.news .news_wrap section .ad ul li:hover {
  background-color: #f99d1b;
}
/* line 179, assets\less\common.less */
.news .news_wrap section .ad div {
  float: right;
  width: 529px;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_ad_con01.jpg");
}
/* line 184, assets\less\common.less */
.news .news_wrap section .notice {
  width: 295px;
  height: 320px;
  background-color: #fff;
  outline: 1px solid #d4d4d4;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
/* line 187, assets\less\common.less */
.news .news_wrap section .notice .tab {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #c7c7c7;
}
/* line 189, assets\less\common.less */
.news .news_wrap section .notice .tab ul {
  width: 100%;
  font-size: 0;
}
/* line 190, assets\less\common.less */
.news .news_wrap section .notice .tab ul li {
  width: 50%;
  height: 40px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
/* line 191, assets\less\common.less */
.news .news_wrap section .notice .tab ul li a {
  color: #fff;
}
/* line 192, assets\less\common.less */
.news .news_wrap section .notice .tab ul li a:hover {
  color: #000;
}
/* line 194, assets\less\common.less */
.news .news_wrap section .notice .tab ul li:hover {
  background-color: #f99d1b;
}
/* line 200, assets\less\common.less */
.news .news_wrap section .notice #notice_01 {
  width: 100%;
  height: 100p%display: block;
  color: #666;
}
/* line 201, assets\less\common.less */
.news .news_wrap section .notice #notice_01 ul {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 203, assets\less\common.less */
.news .news_wrap section .notice #notice_01 ul li {
  font-size: 14px;
  line-height: 30px;
  display: block;
}
/* line 206, assets\less\common.less */
.news .news_wrap section .notice #notice_02 {
  width: 100%;
  height: 100p%display: block;
  color: #666;
  display: none;
}
/* line 207, assets\less\common.less */
.news .news_wrap section .notice #notice_02 ul {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 209, assets\less\common.less */
.news .news_wrap section .notice #notice_02 ul li {
  font-size: 14px;
  line-height: 30px;
  display: block;
}
/* line 213, assets\less\common.less */
.news .news_wrap section .event {
  width: 295px;
  height: 320px;
  background-color: yellow;
  z-index: 1;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_event_con01.jpg");
  vertical-align: top;
}
/* line 216, assets\less\common.less */
.news .news_wrap section .event h2 {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
/* line 218, assets\less\common.less */
.news .news_wrap section .story {
  width: 295px;
  height: 200px;
  background-color: yellow;
  z-index: 1;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_story_con01.jpg");
}
/* line 221, assets\less\common.less */
.news .news_wrap section .story p {
  width: 295px;
  height: 200px;
  background-color: rgba(249, 157, 27, 0.3);
  z-index: 100;
}
/* line 222, assets\less\common.less */
.news .news_wrap section .story p h2 {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}
/* line 226, assets\less\common.less */
.news .news_wrap section .help {
  width: 295px;
  height: 200px;
  background-color: yellow;
  z-index: 1;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_help_con01.jpg");
}
/* line 230, assets\less\common.less */
.news .news_wrap section .help div h2 {
  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 14px;
}
/* line 231, assets\less\common.less */
.news .news_wrap section .help div h2:before {
  content: "1";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
/* line 240, assets\less\common.less */
.news .news_wrap section .faq {
  width: 610px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
/* line 242, assets\less\common.less */
.news .news_wrap section .faq .tab {
  width: 105px;
  height: 100%;
  float: left;
}
/* line 243, assets\less\common.less */
.news .news_wrap section .faq .tab ul {
  width: 100%;
}
/* line 245, assets\less\common.less */
.news .news_wrap section .faq .tab ul a li {
  background-color: #ababab;
  font-size: 14px;
  display: block;
  height: 50px;
  line-height: 50px;
}
/* line 247, assets\less\common.less */
.news .news_wrap section .faq .tab ul a li span {
  margin-left: 10px;
}
/* line 249, assets\less\common.less */
.news .news_wrap section .faq .tab ul a li:hover {
  background-color: #f99d1b;
}
/* line 256, assets\less\common.less */
.news .news_wrap section .faq .tab ul li:hover {
  background-color: #f99d1bb;
}
/* line 257, assets\less\common.less */
.news .news_wrap section .faq .tab ul li:hover a {
  color: #fff;
  margin-left: 10px;
}
/* line 262, assets\less\common.less */
.news .news_wrap section .faq #faq_01 {
  margin-left: 109px;
}
/* line 263, assets\less\common.less */
.news .news_wrap section .faq #faq_01 ul {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 264, assets\less\common.less */
.news .news_wrap section .faq #faq_01 ul li {
  line-height: 30px;
  font-size: 14px;
  color: #666;
  width: 100%;
}
/* line 270, assets\less\common.less */
.news .news_wrap section .faq #faq_02 {
  margin-left: 109px;
  background-color: blue;
  display: none;
}
/* line 271, assets\less\common.less */
.news .news_wrap section .faq #faq_02 ul {
  margin-left: 20px;
  margin-top: 20px;
  background-color: green;
}
/* line 272, assets\less\common.less */
.news .news_wrap section .faq #faq_02 ul li {
  line-height: 30px;
  font-size: 14px;
  color: #666;
}
/* line 287, assets\less\common.less */
.liquor {
  height: 100%;
  background-color: #e5edd3;
}
/* line 288, assets\less\common.less */
.liquor .liquor_wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
/* line 290, assets\less\common.less */
.liquor .liquor_wrap .title h1 {
  font-size: 56px;
  color: #000;
}
/* line 291, assets\less\common.less */
.liquor .liquor_wrap .title h2 {
  font-size: 18px;
  color: #6a4f29;
  margin-top: 20px;
}
/* line 293, assets\less\common.less */
.liquor .liquor_wrap ul li img {
  margin-top: 45%;
}
/* line 294, assets\less\common.less */
.liquor .liquor_wrap ul li {
  width: 20%;
  height: 470px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
/* line 295, assets\less\common.less */
.liquor .liquor_wrap ul {
  width: 100%;
  margin-top: 100px;
  background-color: white;
  font-size: 0;
}
/* line 296, assets\less\common.less */
.liquor .liquor_wrap ul .story {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_01.jpg");
}
/* line 298, assets\less\common.less */
.liquor .liquor_wrap ul .business {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_02.jpg");
}
/* line 300, assets\less\common.less */
.liquor .liquor_wrap ul .study {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_03.jpg");
}
/* line 302, assets\less\common.less */
.liquor .liquor_wrap ul .mark {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_04.jpg");
}
/* line 304, assets\less\common.less */
.liquor .liquor_wrap ul .make {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_05.jpg");
}
/* line 316, assets\less\common.less */
footer .footer_wrap {
  margin: 0 auto;
  width: 1240px;
  height: 170px;
}
/* line 318, assets\less\common.less */
footer .footer_wrap div {
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 0 30px;
}
/* line 320, assets\less\common.less */
footer .footer_wrap div ul li {
  color: #000;
  padding-right: 20px;
  font-size: 16px;
}
/* line 322, assets\less\common.less */
footer .footer_wrap div select {
  float: right;
  font-size: 16px;
}
/* line 328, assets\less\common.less */
footer .footer_wrap span {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
}
/* line 1, assets\less\style.less */
body {
  border: 1px #F00 solid;
}
