/* line 1, assets\less\00_main.less */
.main {
  height: 100%;
  position: relative;
}
/* line 3, assets\less\00_main.less */
.main .main_wrap {
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  position: absolute;
  top: 0;
}
/* line 13, assets\less\00_main.less */
.gnb {
  text-align: center;
  height: 194px;
  box-shadow: 0px 3px 1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 18, assets\less\00_main.less */
.gnb.on {
  color: #000 !important;
  background-color: #FFF !important;
}
/* line 22, assets\less\00_main.less */
.gnb.on .header .nav {
  border-top: 1px  solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
/* line 26, assets\less\00_main.less */
.gnb.on .header .logo a {
  background-image: url("../images/main/logo_on.png");
}
/* line 30, assets\less\00_main.less */
.gnb .header {
  margin: 0 auto;
  padding-top: 20px;
  width: 1240px;
  height: 83px;
}
/* line 36, assets\less\00_main.less */
.gnb .header .logo a {
  display: inline-block;
  width: 109px;
  height: 53px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/logo_1.png");
}
/* line 43, assets\less\00_main.less */
.gnb .nav {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 1240px;
  margin: auto;
  height: 42px;
}
/* line 50, assets\less\00_main.less */
.gnb .nav ul {
  text-align: center;
  width: 100%;
}
/* line 51, assets\less\00_main.less */
.gnb .nav ul li {
  line-height: 42px;
  color: #fff;
  width: 16.666%;
  vertical-align: top;
  display: inline-block;
  float: left;
}
/* line 53, assets\less\00_main.less */
.gnb .nav ul li a {
  color: #fff;
}
/* line 55, assets\less\00_main.less */
.gnb .nav ul li a.oneDhover {
  display: block;
  position: relative;
  box-sizing: border-box;
}
/* line 59, assets\less\00_main.less */
.gnb .nav ul li a.oneDhover .bottom_liner {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
/* line 68, assets\less\00_main.less */
.gnb .nav ul li a.oneDhover:hover .bottom_liner {
  border: 1px #f99d1b solid;
}
/* line 73, assets\less\00_main.less */
.gnb .nav ul li .twoD {
  z-index: 1;
  width: 100%;
  vertical-align: top;
  line-height: 33px;
  height: 350px;
  display: none;
  margin-top: 30px;
}
/* line 76, assets\less\00_main.less */
.gnb .nav ul li .twoD a {
  display: block;
  font-size: 15px;
  color: #555;
  margin-bottom: 14px;
}
/* line 78, assets\less\00_main.less */
.gnb .nav ul li .twoD a:hover {
  color: #f99d1b;
  font-weight: 200;
}
/* line 82, assets\less\00_main.less */
.gnb .nav ul li .twoD a.on {
  color: #0068b7;
}
/* line 89, assets\less\00_main.less */
.slide_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
/* line 93, assets\less\00_main.less */
.slide_wrap .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
/* line 97, assets\less\00_main.less */
.slide_wrap .slide li {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/visual_01.png");
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 101, assets\less\00_main.less */
.slide_wrap .slide li:nth-child(2) {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/visual_02.png");
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 105, assets\less\00_main.less */
.slide_wrap .slide li:nth-child(3) {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/visual_03.png");
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 110, assets\less\00_main.less */
.btngroup {
  position: relative;
  top: 1px;
  z-index: 888;
  width: 100%;
  top: 50%;
}
/* line 118, assets\less\00_main.less */
.btngroup .main_btn_prev {
  left: 30px;
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.33;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}
/* line 130, assets\less\00_main.less */
.btngroup .main_btn_next {
  right: 30px;
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.33;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}
/* line 146, assets\less\00_main.less */
.slogan {
  width: 1240px;
  margin-top: 400px;
  margin: 0 auto;
  top: 50%;
  position: relative;
  margin-top: -150px;
}
/* line 155, assets\less\00_main.less */
.slogan h1 {
  text-align: left;
}
/* line 156, assets\less\00_main.less */
.slogan h1 span {
  color: #f99d1b;
}
/* line 159, assets\less\00_main.less */
.slogan h2 {
  text-align: left;
}
/* line 160, assets\less\00_main.less */
.slogan h2 span {
  color: #f99d1b;
}
/* line 163, assets\less\00_main.less */
.slogan div {
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  width: 186px;
  height: 54px;
  background-color: #f99d1b;
}
/* line 164, assets\less\00_main.less */
.slogan div a {
  line-height: 54px;
  font-size: 18px;
  color: #fff;
}
/* line 171, assets\less\00_main.less */
.slice_wrap {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 300;
}
/* line 187, assets\less\00_main.less */
.product {
  height: 130%;
  background-color: #ededed;
}
/* line 188, assets\less\00_main.less */
.product .product_wrap {
  margin: 0 auto;
  width: 1240px;
  padding-top: 100px;
}
/* line 193, assets\less\00_main.less */
.product .product_wrap .product_menu {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 0;
}
/* line 194, assets\less\00_main.less */
.product .product_wrap .product_menu li {
  background-color: #fff;
  color: #666;
  font-size: 16px;
  line-height: 40px;
  width: 137px;
  height: 40px;
  outline: 1px solid #d4d4d4;
  text-align: center;
}
/* line 196, assets\less\00_main.less */
.product .product_wrap .product_menu li:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 199, assets\less\00_main.less */
.product .product_wrap .product_photo {
  text-align: center;
  font-size: 0;
}
/* line 200, assets\less\00_main.less */
.product .product_wrap .product_photo ul {
  width: 102%;
}
/* line 201, assets\less\00_main.less */
.product .product_wrap .product_photo ul li {
  width: 295px;
  height: 295px;
  margin-right: 20px;
  margin-top: 20px;
  background-image: url("../images/main/product_photo_01.png");
}
/* line 202, assets\less\00_main.less */
.product .product_wrap .product_photo ul li li:hover {
  background-color: #f99d1b;
}
/* line 212, assets\less\00_main.less */
.news {
  height: 100%;
  background-color: #f8f6f2;
}
/* line 213, assets\less\00_main.less */
.news .news_wrap {
  margin: 0 auto;
  width: 1240px;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}
/* line 218, assets\less\00_main.less */
.news .news_wrap section {
  margin-top: 100px;
  display: block;
  width: 102%;
  text-align: left;
  font-size: 0;
}
/* line 219, assets\less\00_main.less */
.news .news_wrap section .ad {
  width: 610px;
  height: 320px;
  background-color: yellow;
  margin-right: 20px;
  display: inline-block;
}
/* line 222, assets\less\00_main.less */
.news .news_wrap section .ad ul {
  height: 100%;
  width: 81px;
}
/* line 225, assets\less\00_main.less */
.news .news_wrap section .ad ul li {
  background-color: #a7a7a7;
  height: 25%;
  width: 100%;
}
/* line 226, assets\less\00_main.less */
.news .news_wrap section .ad ul li h2 {
  font-size: 14px;
  color: #fff;
  line-height: 100%;
  text-align: center;
  margin-top: 43%;
}
/* line 230, assets\less\00_main.less */
.news .news_wrap section .ad ul li:hover {
  background-color: #f99d1b;
}
/* line 234, assets\less\00_main.less */
.news .news_wrap section .ad div {
  float: right;
  width: 529px;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_ad_con01.jpg");
}
/* line 239, assets\less\00_main.less */
.news .news_wrap section .notice {
  width: 295px;
  height: 320px;
  background-color: #fff;
  outline: 1px solid #d4d4d4;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
/* line 242, assets\less\00_main.less */
.news .news_wrap section .notice .tab {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #c7c7c7;
}
/* line 244, assets\less\00_main.less */
.news .news_wrap section .notice .tab ul {
  width: 100%;
  font-size: 0;
}
/* line 245, assets\less\00_main.less */
.news .news_wrap section .notice .tab ul li {
  width: 50%;
  height: 40px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
/* line 246, assets\less\00_main.less */
.news .news_wrap section .notice .tab ul li a {
  color: #fff;
}
/* line 247, assets\less\00_main.less */
.news .news_wrap section .notice .tab ul li a:hover {
  color: #000;
}
/* line 249, assets\less\00_main.less */
.news .news_wrap section .notice .tab ul li:hover {
  background-color: #f99d1b;
}
/* line 255, assets\less\00_main.less */
.news .news_wrap section .notice #notice_01 {
  width: 100%;
  height: 100p%display: block;
  color: #666;
}
/* line 256, assets\less\00_main.less */
.news .news_wrap section .notice #notice_01 ul {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 258, assets\less\00_main.less */
.news .news_wrap section .notice #notice_01 ul li {
  font-size: 14px;
  line-height: 30px;
  display: block;
}
/* line 261, assets\less\00_main.less */
.news .news_wrap section .notice #notice_02 {
  width: 100%;
  height: 100p%display: block;
  color: #666;
  display: none;
}
/* line 262, assets\less\00_main.less */
.news .news_wrap section .notice #notice_02 ul {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 264, assets\less\00_main.less */
.news .news_wrap section .notice #notice_02 ul li {
  font-size: 14px;
  line-height: 30px;
  display: block;
}
/* line 268, assets\less\00_main.less */
.news .news_wrap section .event {
  width: 295px;
  height: 320px;
  background-color: yellow;
  z-index: 1;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_event_con01.jpg");
  vertical-align: top;
}
/* line 271, assets\less\00_main.less */
.news .news_wrap section .event h2 {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
/* line 273, assets\less\00_main.less */
.news .news_wrap section .story {
  width: 295px;
  height: 200px;
  background-color: yellow;
  z-index: 1;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_story_con01.jpg");
}
/* line 276, assets\less\00_main.less */
.news .news_wrap section .story div {
  width: 100%;
  height: 100%;
}
/* line 277, assets\less\00_main.less */
.news .news_wrap section .story div h2 {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}
/* line 280, assets\less\00_main.less */
.news .news_wrap section .story div:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(249, 157, 27, 0.3);
}
/* line 281, assets\less\00_main.less */
.news .news_wrap section .story div:hover h2 {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}
/* line 285, assets\less\00_main.less */
.news .news_wrap section .help {
  width: 295px;
  height: 200px;
  background-color: yellow;
  z-index: 1;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/news_help_con01.jpg");
}
/* line 289, assets\less\00_main.less */
.news .news_wrap section .help div h2 {
  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 14px;
}
/* line 290, assets\less\00_main.less */
.news .news_wrap section .help div h2:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
/* line 299, assets\less\00_main.less */
.news .news_wrap section .faq {
  width: 610px;
  height: 200px;
  outline: 1px solid #ccc;
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
/* line 301, assets\less\00_main.less */
.news .news_wrap section .faq .tab {
  width: 105px;
  height: 100%;
  float: left;
}
/* line 302, assets\less\00_main.less */
.news .news_wrap section .faq .tab ul {
  width: 100%;
}
/* line 304, assets\less\00_main.less */
.news .news_wrap section .faq .tab ul li {
  background-color: #ababab;
  font-size: 14px;
  display: block;
  height: 50px;
  line-height: 50px;
}
/* line 306, assets\less\00_main.less */
.news .news_wrap section .faq .tab ul li a {
  display: block;
  padding-left: 20px;
}
/* line 312, assets\less\00_main.less */
.news .news_wrap section .faq .tab ul li:hover {
  background-color: #f99d1b;
}
/* line 313, assets\less\00_main.less */
.news .news_wrap section .faq .tab ul li:hover a {
  display: block;
}
/* line 323, assets\less\00_main.less */
.news .news_wrap section .faq #faq_01 {
  margin-left: 109px;
}
/* line 324, assets\less\00_main.less */
.news .news_wrap section .faq #faq_01 ul {
  margin-left: 20px;
  margin-top: 13px;
}
/* line 325, assets\less\00_main.less */
.news .news_wrap section .faq #faq_01 ul li {
  line-height: 30px;
  font-size: 14px;
  color: #666;
  width: 100%;
}
/* line 331, assets\less\00_main.less */
.news .news_wrap section .faq #faq_02 {
  margin-left: 109px;
  background-color: blue;
  display: none;
}
/* line 332, assets\less\00_main.less */
.news .news_wrap section .faq #faq_02 ul {
  margin-left: 20px;
  margin-top: 13px;
  background-color: green;
}
/* line 333, assets\less\00_main.less */
.news .news_wrap section .faq #faq_02 ul li {
  line-height: 30px;
  font-size: 14px;
  color: #666;
}
/* line 351, assets\less\00_main.less */
.liquor {
  height: 100%;
  background-color: #e5edd3;
}
/* line 352, assets\less\00_main.less */
.liquor .liquor_wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
/* line 357, assets\less\00_main.less */
.liquor .liquor_wrap ul li img {
  margin-top: 45%;
}
/* line 358, assets\less\00_main.less */
.liquor .liquor_wrap ul li {
  width: 20%;
  height: 470px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
/* line 359, assets\less\00_main.less */
.liquor .liquor_wrap ul {
  width: 100%;
  margin-top: 100px;
  background-color: white;
  font-size: 0;
}
/* line 360, assets\less\00_main.less */
.liquor .liquor_wrap ul .story {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_01.jpg");
}
/* line 362, assets\less\00_main.less */
.liquor .liquor_wrap ul .business {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_02.jpg");
}
/* line 364, assets\less\00_main.less */
.liquor .liquor_wrap ul .study {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_03.jpg");
}
/* line 366, assets\less\00_main.less */
.liquor .liquor_wrap ul .mark {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_04.jpg");
}
/* line 368, assets\less\00_main.less */
.liquor .liquor_wrap ul .make {
  background-size: cover;
  background-position: center;
  background-image: url("../images/main/liquor_photo_05.jpg");
}
/* line 1, assets\less\00_sub.less */
.sub_btngroup {
  position: relative;
  top: 1;
  z-index: 888;
  width: 100%;
  top: 50%;
}
/* line 9, assets\less\00_sub.less */
.sub_btngroup .sub_btn_prev {
  left: 30px;
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.33;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}
/* line 21, assets\less\00_sub.less */
.sub_btngroup .sub_btn_next {
  right: 30px;
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.33;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}
/* line 38, assets\less\00_sub.less */
.sub {
  width: 100%;
  height: 422px;
  position: relative;
}
/* line 43, assets\less\00_sub.less */
.sub_slide_wrap {
  width: 100%;
  height: 422px;
  position: absolute;
  z-index: 10;
  top: 0;
}
/* line 52, assets\less\00_sub.less */
.sub_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
}
/* line 64, assets\less\00_sub.less */
.sub_slide_wrap .sub_slide li {
  width: 100%;
  height: 422px;
}
/* line 69, assets\less\00_sub.less */
.sub_slogan {
  margin: auto;
  width: 1240px;
  height: 422px;
  text-align: center;
  z-index: 40;
  position: absolute;
  top: 0;
}
/* line 80, assets\less\00_sub.less */
.bim {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 422px;
  top: 0;
}
/* line 89, assets\less\00_sub.less */
.sub_visual_company {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/company/visual.jpg");
  background-color: #000;
}
/* line 99, assets\less\00_sub.less */
.sub_visual_story {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/story/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 109, assets\less\00_sub.less */
.sub_visual_news {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/news/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 119, assets\less\00_sub.less */
.sub_visual_recruit {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/recruit/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 129, assets\less\00_sub.less */
.sub_visual_product {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/product/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 141, assets\less\00_sub.less */
.sub_slide {
  width: 100%;
  height: 100%;
}
/* line 146, assets\less\00_sub.less */
.sub_slogan {
  width: 100%;
  height: 422px;
  text-align: center;
  z-index: 222;
  position: absolute;
  top: 0;
}
/* line 156, assets\less\00_sub.less */
.sub_slogan span:nth-child(1) {
  width: 12px;
  height: 12px;
  background-color: #f99d1b;
  display: block;
  border-radius: 50%;
  margin-top: 235px;
  text-align: center;
  display: inline-block;
}
/* line 168, assets\less\00_sub.less */
.sub_slogan span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  display: block;
}
/* line 175, assets\less\00_sub.less */
.sub_slogan span:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: #fff;
  display: block;
}
/* line 185, assets\less\00_sub.less */
.path_wrap {
  width: 100%;
  height: 64px;
  display: inline-block;
  font-size: 14px;
}
/* line 193, assets\less\00_sub.less */
.path_wrap .path {
  width: 1240px;
  height: 64px;
  margin: auto;
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
}
/* line 203, assets\less\00_sub.less */
.lnb_wrap {
  width: 100%;
  height: 57px;
}
/* line 206, assets\less\00_sub.less */
.lnb_wrap .lnb {
  width: 1240px;
  height: 57px;
  margin: 0 auto;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
  font-size: 0;
}
/* line 214, assets\less\00_sub.less */
.lnb_wrap .lnb > ul {
  line-height: 57px;
}
/* line 216, assets\less\00_sub.less */
.lnb_wrap .lnb > ul > li {
  background-color: ececec;
  width: 177px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}
/* line 223, assets\less\00_sub.less */
.lnb_wrap .lnb > ul > li > ul {
  display: none;
  vertical-align: top;
  font-size: 0;
  border: 1px solid #bfbfbf;
  line-height: 33px;
}
/* line 229, assets\less\00_sub.less */
.lnb_wrap .lnb > ul > li > ul > li {
  display: inline-block;
  width: 177px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  height: 33px;
}
/* line 244, assets\less\00_sub.less */
.content_wrap {
  width: 100%;
  margin-top: 40px;
}
/* line 248, assets\less\00_sub.less */
.content_wrap .content {
  margin: 0 auto;
  text-align: center;
  width: 1240px;
}
/* line 252, assets\less\00_sub.less */
.content_wrap .content .sub_title {
  width: 100%;
  padding-bottom: 40px;
}
/* line 255, assets\less\00_sub.less */
.content_wrap .content .sub_title span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f99e21;
  display: inline-block;
  text-align: center;
}
/* line 264, assets\less\00_sub.less */
.content_wrap .content .sub_title h2 {
  font-size: 46px;
  color: #000;
}
/* line 271, assets\less\00_sub.less */
.content_wrap .content .con_company_01 {
  width: 100%;
  height: 380px;
  text-align: left;
  background-color: #ededed;
  padding-left: 20px;
  padding-top: 20px;
}
/* line 280, assets\less\00_sub.less */
.content_wrap .content .con_company_01 span {
  margin-left: 40px;
  margin-top: 80px;
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
/* line 285, assets\less\00_sub.less */
.content_wrap .content .con_company_01 span p:nth-child(1) {
  font-size: 18px;
  color: #2d1e17;
  line-height: 34px;
}
/* line 291, assets\less\00_sub.less */
.content_wrap .content .con_company_01 span P:nth-child(2) {
  margin-top: 20px;
  color: #666666;
  font-size: 14px;
  line-height: 26px;
}
/* line 303, assets\less\00_sub.less */
.content_wrap .content .con_company_02 {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #f99e21;
  background-color: #fff;
  padding-top: 44px;
  padding-bottom: 44px;
}
/* line 310, assets\less\00_sub.less */
.content_wrap .content .con_company_02 span:nth-child(1) {
  background-color: #f99e21;
  line-height: 26px;
  font-size: 12px;
  font-weight: 400px;
  color: #fff;
  display: inline-block;
}
/* line 319, assets\less\00_sub.less */
.content_wrap .content .con_company_02 span:nth-child(2) {
  display: block;
  font-size: 46px;
}
/* line 323, assets\less\00_sub.less */
.content_wrap .content .con_company_02 span:nth-child(3) {
  margin-top: 30px;
  display: block;
  font-size: 14px;
  width: 500px;
  margin: 0 auto;
}
/* line 341, assets\less\00_sub.less */
.con_company_03 {
  width: 100%;
  height: 800px;
  background-color: #999;
  margin-top: 100px;
}
/* line 348, assets\less\00_sub.less */
.bottom_btn {
  height: 110px;
  width: 100%;
}
/* line 353, assets\less\00_sub.less */
.prev {
  height: 110px;
  width: 50%;
  float: left;
  text-align: center;
  color: #666;
  font-size: 24px;
  border: 1px solid #d3d3d3;
  line-height: 110px;
}
/* line 362, assets\less\00_sub.less */
.prev:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 364, assets\less\00_sub.less */
.prev:hover div > span {
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_prev_on.png");
}
/* line 366, assets\less\00_sub.less */
.prev div {
  margin: auto;
  max-width: 620px;
  height: 110px;
}
/* line 370, assets\less\00_sub.less */
.prev div span {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -3px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_prev.jpg");
}
/* line 377, assets\less\00_sub.less */
.prev div strong {
  fontcolor: #666;
}
/* line 384, assets\less\00_sub.less */
.next {
  height: 110px;
  width: 50%;
  float: left;
  text-align: center;
  color: #666;
  font-size: 24px;
  border: 1px solid #d3d3d3;
  border-left: 0;
  line-height: 110px;
}
/* line 394, assets\less\00_sub.less */
.next:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 396, assets\less\00_sub.less */
.next:hover div > span {
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_next_on.png");
}
/* line 398, assets\less\00_sub.less */
.next div {
  margin: auto;
  max-width: 620px;
  height: 110px;
}
/* line 402, assets\less\00_sub.less */
.next div span {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -3px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_next.jpg");
}
/* line 409, assets\less\00_sub.less */
.next div strong {
  fontcolor: #666;
}
/* line 1, assets\less\01_company.less */
.sub_btngroup {
  position: relative;
  top: 1;
  z-index: 888;
  width: 100%;
  top: 50%;
}
/* line 9, assets\less\01_company.less */
.sub_btngroup .sub_btn_prev {
  left: 30px;
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.33;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}
/* line 21, assets\less\01_company.less */
.sub_btngroup .sub_btn_next {
  right: 30px;
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.33;
  border-radius: 10px;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}
/* line 38, assets\less\01_company.less */
.sub {
  width: 100%;
  height: 422px;
  position: relative;
}
/* line 43, assets\less\01_company.less */
.sub_slide_wrap {
  width: 100%;
  height: 422px;
  position: absolute;
  z-index: 10;
  top: 0;
}
/* line 52, assets\less\01_company.less */
.sub_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
}
/* line 64, assets\less\01_company.less */
.sub_slide_wrap .sub_slide li {
  width: 100%;
  height: 422px;
}
/* line 69, assets\less\01_company.less */
.sub_slogan {
  margin: auto;
  width: 1240px;
  height: 422px;
  text-align: center;
  z-index: 40;
  position: absolute;
  top: 0;
}
/* line 80, assets\less\01_company.less */
.bim {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 422px;
  top: 0;
}
/* line 89, assets\less\01_company.less */
.sub_visual_company {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/company/visual.jpg");
  background-color: #000;
}
/* line 99, assets\less\01_company.less */
.sub_visual_story {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/story/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 109, assets\less\01_company.less */
.sub_visual_news {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/news/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 119, assets\less\01_company.less */
.sub_visual_recruit {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/recruit/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 129, assets\less\01_company.less */
.sub_visual_product {
  width: 100%;
  height: 422px;
  z-index: 20;
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: url("../images/product/visual.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 141, assets\less\01_company.less */
.sub_slide {
  width: 100%;
  height: 100%;
}
/* line 146, assets\less\01_company.less */
.sub_slogan {
  width: 100%;
  height: 422px;
  text-align: center;
  z-index: 222;
  position: absolute;
  top: 0;
}
/* line 156, assets\less\01_company.less */
.sub_slogan span:nth-child(1) {
  width: 12px;
  height: 12px;
  background-color: #f99d1b;
  display: block;
  border-radius: 50%;
  margin-top: 235px;
  text-align: center;
  display: inline-block;
}
/* line 168, assets\less\01_company.less */
.sub_slogan span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  display: block;
}
/* line 175, assets\less\01_company.less */
.sub_slogan span:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: #fff;
  display: block;
}
/* line 185, assets\less\01_company.less */
.path_wrap {
  width: 100%;
  height: 64px;
  display: inline-block;
  font-size: 14px;
}
/* line 193, assets\less\01_company.less */
.path_wrap .path {
  width: 1240px;
  height: 64px;
  margin: auto;
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
}
/* line 203, assets\less\01_company.less */
.lnb_wrap {
  width: 100%;
  height: 57px;
}
/* line 206, assets\less\01_company.less */
.lnb_wrap .lnb {
  width: 1240px;
  height: 57px;
  margin: 0 auto;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
  font-size: 0;
}
/* line 214, assets\less\01_company.less */
.lnb_wrap .lnb > ul {
  line-height: 57px;
}
/* line 216, assets\less\01_company.less */
.lnb_wrap .lnb > ul > li {
  background-color: ececec;
  width: 177px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}
/* line 223, assets\less\01_company.less */
.lnb_wrap .lnb > ul > li > ul {
  display: none;
  vertical-align: top;
  font-size: 0;
  border: 1px solid #bfbfbf;
  line-height: 33px;
}
/* line 229, assets\less\01_company.less */
.lnb_wrap .lnb > ul > li > ul > li {
  display: inline-block;
  width: 177px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  height: 33px;
}
/* line 244, assets\less\01_company.less */
.content_wrap {
  width: 100%;
  margin-top: 40px;
}
/* line 248, assets\less\01_company.less */
.content_wrap .content {
  margin: 0 auto;
  text-align: center;
  width: 1240px;
}
/* line 252, assets\less\01_company.less */
.content_wrap .content .sub_title {
  width: 100%;
  padding-bottom: 40px;
}
/* line 255, assets\less\01_company.less */
.content_wrap .content .sub_title span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f99e21;
  display: inline-block;
  text-align: center;
}
/* line 264, assets\less\01_company.less */
.content_wrap .content .sub_title h2 {
  font-size: 46px;
  color: #000;
}
/* line 271, assets\less\01_company.less */
.content_wrap .content .con_story_01 {
  width: 100%;
  height: 380px;
  text-align: left;
  background-color: #ededed;
  padding-left: 20px;
  padding-top: 20px;
}
/* line 280, assets\less\01_company.less */
.content_wrap .content .con_story_01 span {
  margin-left: 40px;
  margin-top: 80px;
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
/* line 285, assets\less\01_company.less */
.content_wrap .content .con_story_01 span p:nth-child(1) {
  font-size: 18px;
  color: #2d1e17;
  line-height: 34px;
}
/* line 291, assets\less\01_company.less */
.content_wrap .content .con_story_01 span P:nth-child(2) {
  margin-top: 20px;
  color: #666666;
  font-size: 14px;
  line-height: 26px;
}
/* line 303, assets\less\01_company.less */
.content_wrap .content .con_story_02 {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #f99e21;
  background-color: #fff;
  padding-top: 44px;
  padding-bottom: 44px;
}
/* line 310, assets\less\01_company.less */
.content_wrap .content .con_story_02 span:nth-child(1) {
  background-color: #f99e21;
  line-height: 26px;
  font-size: 12px;
  font-weight: 400px;
  color: #fff;
  display: inline-block;
}
/* line 319, assets\less\01_company.less */
.content_wrap .content .con_story_02 span:nth-child(2) {
  display: block;
  font-size: 46px;
}
/* line 323, assets\less\01_company.less */
.content_wrap .content .con_story_02 span:nth-child(3) {
  margin-top: 30px;
  display: block;
  font-size: 14px;
  width: 500px;
  margin: 0 auto;
}
/* line 341, assets\less\01_company.less */
.con_story_03 {
  width: 100%;
  height: 800px;
  background-color: #999;
  margin-top: 100px;
}
/* line 348, assets\less\01_company.less */
.bottom_btn {
  height: 110px;
  width: 100%;
}
/* line 353, assets\less\01_company.less */
.prev {
  height: 110px;
  width: 50%;
  float: left;
  text-align: center;
  color: #666;
  font-size: 24px;
  border: 1px solid #d3d3d3;
  line-height: 110px;
}
/* line 362, assets\less\01_company.less */
.prev:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 364, assets\less\01_company.less */
.prev:hover div > span {
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_prev_on.png");
}
/* line 366, assets\less\01_company.less */
.prev div {
  margin: auto;
  max-width: 620px;
  height: 110px;
}
/* line 370, assets\less\01_company.less */
.prev div span {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -3px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_prev.jpg");
}
/* line 377, assets\less\01_company.less */
.prev div strong {
  fontcolor: #666;
}
/* line 384, assets\less\01_company.less */
.next {
  height: 110px;
  width: 50%;
  float: left;
  text-align: center;
  color: #666;
  font-size: 24px;
  border: 1px solid #d3d3d3;
  border-left: 0;
  line-height: 110px;
}
/* line 394, assets\less\01_company.less */
.next:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 396, assets\less\01_company.less */
.next:hover div > span {
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_next_on.png");
}
/* line 398, assets\less\01_company.less */
.next div {
  margin: auto;
  max-width: 620px;
  height: 110px;
}
/* line 402, assets\less\01_company.less */
.next div span {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -3px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/common/bottom_btn_next.jpg");
}
/* line 409, assets\less\01_company.less */
.next div strong {
  fontcolor: #666;
}
/* line 2, assets\less\02_story.less */
.story_menu {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 0;
}
/* line 3, assets\less\02_story.less */
.story_menu li {
  background-color: #fff;
  color: #666;
  font-size: 16px;
  line-height: 40px;
  width: 176px;
  height: 40px;
  outline: 1px solid #d4d4d4;
  text-align: center;
}
/* line 5, assets\less\02_story.less */
.story_menu li:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 9, assets\less\02_story.less */
.con_story1_01 {
  text-align: left;
}
/* line 11, assets\less\02_story.less */
.con_story1_01 h3 {
  font-size: 24px;
  padding-bottom: 10px;
}
/* line 15, assets\less\02_story.less */
.con_story1_01 p {
  line-height: 26px;
  font-size: 16px;
}
/* line 20, assets\less\02_story.less */
.con_story1_01 .thum {
  margin-top: 40px;
  border: 1px solid #e1e1e1;
  width: auto;
  height: 177px;
  text-align: center;
  line-height: 243px;
}
/* line 27, assets\less\02_story.less */
.con_story1_01 .thum span {
  padding-right: 120px;
}
/* line 28, assets\less\02_story.less */
.con_story1_01 .thum span:last-child {
  padding-right: 0px;
}
/* line 31, assets\less\02_story.less */
.con_story1_01 .photo {
  margin-top: 50px;
  width: auto;
  overflow: hidden;
}
/* line 36, assets\less\02_story.less */
.con_story1_01 .photo img {
  display: inline-block;
  vertical-align: top;
}
/* line 40, assets\less\02_story.less */
.con_story1_01 .photo > span {
  padding-top: 20px;
  display: inline-block;
  font-size: 14px;
  width: 620px;
  padding-left: 40px;
  font-size: 16px;
}
/* line 48, assets\less\02_story.less */
.con_story1_01 .photo > span > p > span {
  color: #f99d1b;
}
/* line 59, assets\less\02_story.less */
.con_story1_02 h3 {
  margin-top: 70px;
  font-size: 24px;
  padding-bottom: 10px;
  text-align: left;
  margin-bottom: 10px;
}
/* line 66, assets\less\02_story.less */
.con_story1_02 span {
  display: inline-block;
  border: 1px solid #e1e1e1;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 4, assets\less\03_product.less */
.product_menu {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 0;
}
/* line 5, assets\less\03_product.less */
.product_menu li {
  background-color: #fff;
  color: #666;
  font-size: 16px;
  line-height: 40px;
  width: 310px;
  height: 40px;
  outline: 1px solid #d4d4d4;
  text-align: center;
}
/* line 7, assets\less\03_product.less */
.product_menu li:hover {
  background-color: #f99d1b;
  color: #fff;
}
/* line 16, assets\less\03_product.less */
.con_product1_01 > p:nth-child(2) {
  margin-top: 50px;
  font-size: 40px;
  color: #f99d1b;
  color: #666666;
}
/* line 22, assets\less\03_product.less */
.con_product1_01 > p:nth-child(3) {
  margin-top: 20px;
  font-size: 16px;
}
/* line 26, assets\less\03_product.less */
.con_product1_01 > img {
  margin-top: 100px;
}
/* line 32, assets\less\03_product.less */
.backjo_01 .photo {
  width: 400px;
  background-color: yellow;
  float: left;
}
/* line 35, assets\less\03_product.less */
.backjo_01 table,
.backjo_01 th,
.backjo_01 td {
  border: 1px solid black;
}
/* line 3, assets\less\common.less */
html,
body {
  height: 100%;
  font-family: 'nanumgothic';
  font-size: 14px;
  color: #444;
}
/* line 8, assets\less\common.less */
html .wrap,
body .wrap {
  margin: 0 auto;
  height: 100%;
  position: relative;
}
/* line 14, assets\less\common.less */
h1 {
  font-size: 56px;
  color: #000;
  text-align: center;
}
/* line 15, assets\less\common.less */
h2 {
  font-size: 18px;
  color: #6a4f29;
  margin-top: 20px;
  text-align: center;
}
/* reset */
/* line 19, assets\less\common.less */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 24, assets\less\common.less */
ul,
ol,
li {
  list-style: none;
  display: inline-block;
}
/* line 25, assets\less\common.less */
a {
  text-decoration: none;
  color: #666;
}
/* line 26, assets\less\common.less */
a:hover {
  color: #000;
}
/* line 29, assets\less\common.less */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}
/* line 30, assets\less\common.less */
fieldset,
img {
  border: 0 none;
}
/* line 31, assets\less\common.less */
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* line 32, assets\less\common.less */
blockquote,
q {
  quotes: none;
}
/* line 33, assets\less\common.less */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 34, assets\less\common.less */
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* line 35, assets\less\common.less */
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
/* line 36, assets\less\common.less */
body {
  background: #fff;
}
/* line 37, assets\less\common.less */
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'nanumgothic', sans-serif;
  color: #333;
}
/* color값은 디자인가이드에 맞게사용 */
/* line 40, assets\less\common.less */
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
/* line 46, assets\less\common.less */
footer .footer_wrap {
  margin: 0 auto;
  width: 1240px;
  height: 170px;
}
/* line 48, assets\less\common.less */
footer .footer_wrap div {
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 0 30px;
}
/* line 50, assets\less\common.less */
footer .footer_wrap div ul li {
  color: #000;
  padding-right: 20px;
  font-size: 16px;
}
/* line 52, assets\less\common.less */
footer .footer_wrap div select {
  float: right;
  font-size: 16px;
}
/* line 58, assets\less\common.less */
footer .footer_wrap span {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
}
